<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="desktop_clock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <desktop_clock.Properties.Settings>
            <setting name="font_size" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="font_bold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="font_shadow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="font_color" serializeAs="String">
                <value>255,255,255</value>
            </setting>
            <setting name="window_pos" serializeAs="String">
                <value>200,200</value>
            </setting>
            <setting name="font_family" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="clock_separator" serializeAs="String">
                <value>.</value>
            </setting>
        </desktop_clock.Properties.Settings>
    </userSettings>
</configuration>